<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianjiu.rest.mapper.product.ProductFurniturePriceMapper">
	<resultMap id="productFurniturePriceResultMap" type="com.lianjiu.model.ProductFurniturePrice">
		<id column="price_id" property="priceId" jdbcType="VARCHAR" />
		<result column="price_single" property="priceSingle" jdbcType="VARCHAR" />
		<result column="price_single_alliance" property="priceSingleAlliance"
			jdbcType="VARCHAR" />
		<result column="product_id" property="productId" jdbcType="VARCHAR" />
		<result column="price_unit" property="priceUnit" jdbcType="INTEGER" />
		<result column="price_created" property="priceCreated"
			jdbcType="TIMESTAMP" />
		<result column="price_updated" property="priceUpdated"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<select id="selectByPrimaryKey" resultMap="productFurniturePriceResultMap"
		parameterType="java.lang.String">select * from product_furniture_price where price_id =
		#{priceId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		product_furniture_price
		where price_id = #{priceId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.lianjiu.model.ProductFurniturePrice">
		insert into
		product_furniture_price (
		price_id, price_single,
		price_single_alliance,
		product_id,
		price_unit,
		is_current_price,
		price_created,
		price_updated)
		values (
		#{priceId,jdbcType=VARCHAR},
		#{priceSingle,jdbcType=VARCHAR},
		#{priceSingleAlliance,jdbcType=VARCHAR},
		#{productId,jdbcType=VARCHAR},
		#{priceUnit,jdbcType=INTEGER},
		1,
		NOW(),
		NOW())
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lianjiu.model.ProductFurniturePrice">
		update product_furniture_price
		<set>
			<if
				test="priceSingle != null and priceSingle != 'null' and priceSingle != ''">
				price_single = #{priceSingle,jdbcType=VARCHAR},
			</if>
			<if
				test="priceSingleAlliance != null and priceSingleAlliance != 'null' and priceSingleAlliance != ''">
				price_single_alliance =
				#{priceSingleAlliance,jdbcType=VARCHAR},
			</if>
			<if test="productId != null and productId != 'null' and productId != ''">
				product_id = #{productId,jdbcType=VARCHAR},
			</if>
			<if test="priceUnit != null and priceUnit != ''">
				price_unit = #{priceUnit,jdbcType=INTEGER},
			</if>
			price_updated = NOW()
		</set>
		where price_id = #{priceId,jdbcType=VARCHAR}
	</update>
	<select id="getAllfurniturePrice" resultMap="productFurniturePriceResultMap">
		select * from
		product_furniture_price where product_id =
		#{productId,jdbcType=VARCHAR}
	</select>
	<!-- 添加价格前调用，把其他价格设置为不使用的状态 -->
	<update id="updateCurrentPriceByPid" parameterType="java.lang.String">
		update
		product_furniture_price set is_current_price=0,price_updated = NOW()
		where
		product_id=#{value}
	</update>
</mapper>