<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lianjiu.rest.mapper.content.AdActivityMapper">
	<resultMap id="BaseResultMaps" type="com.lianjiu.model.AdActivity">
		<id column="act_id" property="actId" jdbcType="VARCHAR" />
		<result column="act_title" property="actTitle" jdbcType="VARCHAR" />
		<result column="act_content" property="actContent" jdbcType="VARCHAR" />
		<result column="act_start_time" property="actStartTime"
			jdbcType="TIMESTAMP" />
		<result column="act_end_time" property="actEndTime" jdbcType="TIMESTAMP" />
		<result column="act_picture" property="actPicture" jdbcType="VARCHAR" />
		<result column="act_pic_link" property="actPicLink" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="add_person" property="addPerson" jdbcType="VARCHAR" />
		<result column="act_size" property="actSize" jdbcType="VARCHAR" />
		<result column="category_id" property="categoryId" jdbcType="BIGINT" />
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="BaseResultMaps"
		parameterType="java.lang.String">
		select
		*
		from ad_activity
		where act_id =
		#{actId,jdbcType=VARCHAR}
	</select>

	<select id="selectActivityList" resultMap="BaseResultMaps">
		select
		*
		from
		ad_activity
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		ad_activity
		where act_id = #{actId,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.lianjiu.model.AdActivity">
		insert into
		ad_activity
		(act_id, act_title, act_content,
		act_start_time,
		act_end_time,
		act_picture,
		act_pic_link, add_time, add_person,
		act_size, category_id)
		values (#{actId,jdbcType=VARCHAR},
		#{actTitle,jdbcType=VARCHAR},
		#{actContent,jdbcType=VARCHAR},
		#{actStartTime,jdbcType=TIMESTAMP},
		#{actEndTime,jdbcType=TIMESTAMP},
		#{actPicture,jdbcType=VARCHAR},
		#{actPicLink,jdbcType=VARCHAR},
		NOW(),
		#{addPerson,jdbcType=VARCHAR},
		#{actSize,jdbcType=VARCHAR},
		#{categoryId,jdbcType=BIGINT})
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lianjiu.model.AdActivity">
		update ad_activity
		<set>
			<if test="actTitle != null">
				act_title = #{actTitle,jdbcType=VARCHAR},
			</if>
			<if test="actContent != null">
				act_content = #{actContent,jdbcType=VARCHAR},
			</if>
			<if test="actStartTime != null">
				act_start_time = #{actStartTime,jdbcType=TIMESTAMP},
			</if>
			<if test="actEndTime != null ">
				act_end_time = #{actEndTime,jdbcType=TIMESTAMP},
			</if>
			<if test="actPicture != null">
				act_picture = #{actPicture,jdbcType=VARCHAR},
			</if>
			<if test="actPicLink != null">
				act_pic_link = #{actPicLink,jdbcType=VARCHAR},
			</if>
			<if test="addPerson != null">
				add_person = #{addPerson,jdbcType=VARCHAR},
			</if>
			<if test="actSize != null">
				act_size = #{actSize,jdbcType=VARCHAR},
			</if>
			<if test="categoryId != null">
				category_id = #{categoryId,jdbcType=BIGINT},
			</if>
		</set>
		where act_id = #{actId,jdbcType=VARCHAR}
	</update>
	<select id="getCount" resultType = "java.lang.Integer">
		select count(1) from ad_activity
	</select>
</mapper>