<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianjiu.mapper.content.AdEssenceBrandMapper">
	<resultMap id="adEssenceBrandResultMap" type="com.lianjiu.model.AdEssenceBrand">
		<id column="br_id" property="brId" jdbcType="VARCHAR" />
		<result column="br_title" property="brTitle" jdbcType="VARCHAR" />
		<result column="br_position" property="brPosition" jdbcType="VARCHAR" />
		<result column="br_picture" property="brPicture" jdbcType="VARCHAR" />
		<result column="br_pic_link" property="brPicLink" jdbcType="VARCHAR" />
		<result column="br_size" property="brSize" jdbcType="VARCHAR" />
		<result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="add_person" property="addPerson" jdbcType="VARCHAR" />
		<result column="category_id" property="categoryId" jdbcType="BIGINT" />
	</resultMap>
	<select id="selectByPrimaryKey" resultMap="adEssenceBrandResultMap"
		parameterType="java.lang.String">select * from ad_essence_brand where br_id =
		#{brId,jdbcType=VARCHAR}
	</select>
	
	<select id="selectAdEssenceBrandList" resultMap="adEssenceBrandResultMap"
		parameterType="java.lang.String">
		select * from ad_essence_brand 
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from ad_essence_brand
		where br_id = #{brId,jdbcType=VARCHAR}
	</delete>
	<insert id="insertAdEssenceBrand" parameterType="com.lianjiu.model.AdEssenceBrand">
		insert into ad_essence_brand (br_id, br_title, br_position,
		br_picture, br_pic_link, br_size,
		add_time, update_time, add_person,
		category_id)
		values (#{brId,jdbcType=VARCHAR}, #{brTitle,jdbcType=VARCHAR},
		#{brPosition,jdbcType=VARCHAR},
		#{brPicture,jdbcType=VARCHAR}, #{brPicLink,jdbcType=VARCHAR}, #{brSize,jdbcType=VARCHAR},
		#{addTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
		#{addPerson,jdbcType=VARCHAR},
		#{categoryId,jdbcType=BIGINT})
	</insert>
	<insert id="insertSelective" parameterType="com.lianjiu.model.AdEssenceBrand">
		insert into ad_essence_brand
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="brId != null">
				br_id,
			</if>
			<if test="brTitle != null">
				br_title,
			</if>
			<if test="brPosition != null">
				br_position,
			</if>
			<if test="brPicture != null">
				br_picture,
			</if>
			<if test="brPicLink != null">
				br_pic_link,
			</if>
			<if test="brSize != null">
				br_size,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="addPerson != null">
				add_person,
			</if>
			<if test="categoryId != null">
				category_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="brId != null">
				#{brId,jdbcType=VARCHAR},
			</if>
			<if test="brTitle != null">
				#{brTitle,jdbcType=VARCHAR},
			</if>
			<if test="brPosition != null">
				#{brPosition,jdbcType=VARCHAR},
			</if>
			<if test="brPicture != null">
				#{brPicture,jdbcType=VARCHAR},
			</if>
			<if test="brPicLink != null">
				#{brPicLink,jdbcType=VARCHAR},
			</if>
			<if test="brSize != null">
				#{brSize,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="addPerson != null">
				#{addPerson,jdbcType=VARCHAR},
			</if>
			<if test="categoryId != null">
				#{categoryId,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.lianjiu.model.AdEssenceBrand">
		update ad_essence_brand
		<set>
			<if test="brTitle != null">
				br_title = #{brTitle,jdbcType=VARCHAR},
			</if>
			<if test="brPosition != null">
				br_position = #{brPosition,jdbcType=VARCHAR},
			</if>
			<if test="brPicture != null">
				br_picture = #{brPicture,jdbcType=VARCHAR},
			</if>
			<if test="brPicLink != null">
				br_pic_link = #{brPicLink,jdbcType=VARCHAR},
			</if>
			<if test="brSize != null">
				br_size = #{brSize,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="addPerson != null">
				add_person = #{addPerson,jdbcType=VARCHAR},
			</if>
			<if test="categoryId != null">
				category_id = #{categoryId,jdbcType=BIGINT},
			</if>
		</set>
		where br_id = #{brId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.lianjiu.model.AdEssenceBrand">
		update ad_essence_brand
		set br_title = #{brTitle,jdbcType=VARCHAR},
		br_position = #{brPosition,jdbcType=VARCHAR},
		br_picture = #{brPicture,jdbcType=VARCHAR},
		br_pic_link = #{brPicLink,jdbcType=VARCHAR},
		br_size = #{brSize,jdbcType=VARCHAR},
		add_time = #{addTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		add_person = #{addPerson,jdbcType=VARCHAR},
		category_id = #{categoryId,jdbcType=BIGINT}
		where br_id = #{brId,jdbcType=VARCHAR}
	</update>
	<sql id="sql_limit">
		<if test="pageTotalNum !=0 and begin != null and pageTotalNum != null">limit #{begin},#{pageTotalNum}</if>
	</sql>
	<sql id="sql_where">
		<if test="model == null and id != null">
			<where>AND br_id=#{id}</where>
		</if>
		<if test="model != null">
			<where>
				<if test="model.brId != null">AND br_id =#{model.brId}</if>
				<if test="model.brTitle != null">AND br_title =#{model.brTitle}</if>
				<if test="model.brPosition != null">AND br_position =#{model.brPosition}</if>
				<if test="model.brPicture != null">AND br_picture =#{model.brPicture}</if>
				<if test="model.brPicLink != null">AND br_pic_link =#{model.brPicLink}</if>
				<if test="model.brSize != null">AND br_size =#{model.brSize}</if>
				<if test="model.addTime != null">AND add_time =#{model.addTime}</if>
				<if test="model.updateTime != null">AND update_time =#{model.updateTime}</if>
				<if test="model.addPerson != null">AND add_person =#{model.addPerson}</if>
				<if test="model.categoryId != null">AND category_id =#{model.categoryId}</if>
			</where>
		</if>
	</sql>
	<select id="selectBySearchObjecVo" parameterType="com.lianjiu.model.vo.SearchObjecVo"
		resultMap="adEssenceBrandResultMap">
		select * from ad_essence_brand
		<include refid="sql_where" />
		<include refid="sql_limit" />
	</select>
</mapper>