<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lianjiu.mapper.CategoryMapper">
	<resultMap id="categoryResultMap" type="com.lianjiu.model.Category">
		<!--重映射 -->
		<id column="category_id" property="categoryId" jdbcType="BIGINT" />
		<result column="category_parent_id" property="categoryParentId"
			jdbcType="BIGINT" />
		<result column="category_name" property="categoryName"
			jdbcType="VARCHAR" />
		<result column="category_image" property="categoryImage"
			jdbcType="VARCHAR" />
		<result column="category_retrieve_type" property="categoryRetrieveType"
			jdbcType="BIT" />
		<result column="category_status" property="categoryStatus"
			jdbcType="INTEGER" />
		<result column="category_sort_order" property="categorySortOrder"
			jdbcType="INTEGER" />
		<result column="category_is_parent" property="categoryIsParent"
			jdbcType="BIT" />
		<result column="category_param_template_id" property="categoryParamTemplateId"
			jdbcType="VARCHAR" />
		<result column="category_created" property="categoryCreated"
			jdbcType="TIMESTAMP" />
		<result column="category_updated" property="categoryUpdated"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<!--通过主键删除所有 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		category
		where category_id = #{categoryId,jdbcType=BIGINT}
	</delete>
	<!--插入所有 -->
	<insert id="insert" parameterType="com.lianjiu.model.Category">
		insert into category
		(category_id, category_parent_id, category_name,
		category_image,
		category_retrieve_type, category_status,
		category_sort_order,
		category_is_parent, category_param_template_id,
		category_created,
		category_updated)
		values (#{categoryId,jdbcType=BIGINT},
		#{categoryParentId,jdbcType=BIGINT},
		#{categoryName,jdbcType=VARCHAR},
		#{categoryImage,jdbcType=VARCHAR},
		#{categoryRetrieveType,jdbcType=BIT},
		#{categoryStatus,jdbcType=INTEGER},
		#{categorySortOrder,jdbcType=INTEGER},
		#{categoryIsParent,jdbcType=BIT},
		#{categoryParamTemplateId,jdbcType=VARCHAR},
		#{categoryCreated,jdbcType=TIMESTAMP},
		#{categoryUpdated,jdbcType=TIMESTAMP})
	</insert>
	<!--通过主键条件更新 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.lianjiu.model.Category">
		update category
		<set>
			<if test="categoryParentId != null">
				category_parent_id = #{categoryParentId,jdbcType=BIGINT},
			</if>
			<if test="categoryName != null">
				category_name = #{categoryName,jdbcType=VARCHAR},
			</if>
			<if test="categoryImage != null">
				category_image = #{categoryImage,jdbcType=VARCHAR},
			</if>
			<if test="categoryRetrieveType != null">
				category_retrieve_type =
				#{categoryRetrieveType,jdbcType=BIT},
			</if>
			<if test="categoryStatus != null">
				category_status = #{categoryStatus,jdbcType=INTEGER},
			</if>
			<if test="categorySortOrder != null">
				category_sort_order =
				#{categorySortOrder,jdbcType=INTEGER},
			</if>
			<if test="categoryIsParent != null">
				category_is_parent = #{categoryIsParent,jdbcType=BIT},
			</if>
			<if test="categoryParamTemplateId != null">
				category_param_template_id =
				#{categoryParamTemplateId,jdbcType=VARCHAR},
			</if>
			<if test="categoryCreated != null">
				category_created = #{categoryCreated,jdbcType=TIMESTAMP},
			</if>
			<if test="categoryUpdated != null">
				category_updated = #{categoryUpdated,jdbcType=TIMESTAMP},
			</if>
		</set>
		where category_id = #{categoryId,jdbcType=BIGINT}
	</update>
	<!--sql片段 -->
	<!--统计数量 -->
	<sql id="sql_count">select count(*) as totalItems</sql>
	<!--限制/分页 (该参数是vo类的成员) -->
	<sql id="sql_limit">
		<if test="pageTotalNum !=0 and begin != null and pageTotalNum != null">
			limit #{begin},#{pageTotalNum}
		</if>
	</sql>
	<!-- 条件 -->
	<sql id="sql_where">
		<if test="model == null and categoryId != null ">
			<!-- where可以自动去掉条件中的第一个and -->
			<where>
				AND category_id=#{categoryId}
			</where>
		</if>
		<if test="model != null">
			<!-- where可以自动去掉条件中的第一个and -->
			<where>
				<if test="model.categoryId != null and model.categoryId.length()>0">
					AND category_id=#{model.categoryId}
				</if>
				<if test="model.categoryName != null and model.categoryName.length()>0">
					AND category_name=#{model.categoryName}
				</if>
				<if test="model.categoryParentId != null">
					AND category_parent_id=#{model.categoryParentId}
				</if>
			</where>
		</if>
	</sql>
	<!--根据公共vo类条件查询 -->
	<select id="selectBySearchVo" parameterType="com.lianjiu.model.vo.SearchObjecVo"
		resultMap="categoryResultMap">
		select * from category
		<include refid="sql_where" />
		<include refid="sql_limit" />
	</select>
	<!--查询 -->
	<select id="selectByParentId" parameterType="Long" resultMap="categoryResultMap">
		select * from category where
		category_parent_id=#{value}
	</select>
	<select id="selectByPrimaryKey" parameterType="Long"
		resultMap="categoryResultMap">
		select * from category where
		category_id=#{value}
	</select>
	<!--统计 同一个parentId -->
	<select id="countByParentId" parameterType="Long" resultType="java.lang.Long">
		<include refid="sql_count" />
		from category where category_parent_id=#{value}
	</select>
</mapper>